@use "src/app/variables" as *;

.medlems_Link {
  color: $white;
  margin: $spacing-12 $spacing-24;

  &:hover,
  &:focus {
    text-decoration: underline;

    .medlems_card {
      filter: grayscale(0%);
    }
  }
  .text_container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    h3 {
      font-weight: $font-light;
      font-size: $spacing-16;
      margin-bottom: $spacing-12;

      .more {
        display: none;
      }
    }
    p {
      font-family: $raleway-font;
      font-weight: $font-regular;
      font-size: $spacing-16;
      color: $white;
    }
  }
}
.medlems_card {
  height: $spacing-250;
  width: $spacing-250;
  border-radius: $border-radius;
  display: flex;
  box-shadow: 0 $spacing-4 $spacing-4 rgba(0, 0, 0, 0.25);
  filter: grayscale(100%);
}

.in_middle {
  filter: grayscale(0%);
}

.overlay {
  display: flex;
  place-content: center;
  align-items: end;
  border-radius: $border-radius;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.703), rgba(255, 0, 0, 0));
}

.medlems_image1 {
  background-image: url("../../img/medlemskab/image1.png");
  height: $spacing-250;
  width: $spacing-250;
  background-size: contain;
}
.medlems_image2 {
  background-image: url("../../img/medlemskab/image2.png");
  height: $spacing-250;
  width: $spacing-250;
  background-size: contain;
}
.medlems_image3 {
  background-image: url("../../img/medlemskab/image3.png");
  height: $spacing-250;
  width: $spacing-250;
  background-size: contain;
}

@media (min-width: 768px) {
  .medlems_card {
    height: $spacing-320;
    width: $spacing-320;
  }
  .in_middle {
    filter: grayscale(100%);
  }

  .medlems_Link {
    .text_container {
      h3 {
        font-size: $spacing-24;
        margin-bottom: $spacing-20;
      }
      p {
        font-size: $spacing-16;
      }
    }
    &:hover .text_container,
    &:focus .text_container {
      p {
        display: none;
      }
      .text {
        display: none;
      }
      .more {
        display: block;
      }
    }
  }
}
